*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Sarala', sans-serif;
}

.pagesobre {
    display: block;
}

.pagesobre h2{
    font-size: 2em;
}

p {
    margin-bottom: 20px;
}

.pagesobre span, #alerta{
    color: rgb(235, 154, 4);
}

#alerta {
    font-weight: bold;
}

.descricao1{
    display: block;
    width: 90%;
    margin-bottom: 30px;
}

.descricao1 h1{
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.descricao1 h3{
    margin-left: 250px;
}

.descricao1 p{
    margin-top: -30px;
}

.descricao2 h4 span a{
    margin-left: -0px;
}

.descricao2 h3{
    text-align: center;
}

.descricao3 {
    margin-left: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.descricao3 h2, .descricao3 h3, .descricao3 h4{
    margin-top:  25px;
    margin-bottom: 15px;
}

.descricao3 h3 a span{
    margin-left: -300px;
}

.pagesobre a {
    margin-left: -10px;
}