*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Sarala', sans-serif;
}

.page {
  text-align: center;
}

.logo {
  height: 18vmin;
  border: 5px solid rgb(235, 154, 4);
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;

}

.page header {
  background-color: #030404ee;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: rgb(235, 154, 4);
  border: 2px solid rgb(235, 154, 4);
}


.page a {
  margin-left: 250px;
  color: rgb(235, 154, 4);
  text-decoration: none;
}

